/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
html {
  font-size: 1em;
  line-height: 1.4;
  font-family: "Microsoft YaHei";
}
body {
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.container {
  width: 1020px;
}
.home-body {
  background: url("../img/home-bg.png") repeat-x;
}
.home-body-yellow {
  background: url("../img/home-bg-yellow-1.png") repeat-x;
}
.home-bg-blue {
  background: url("../img/home-bg-blue.png") no-repeat;
}
.home-bg-yellow {
  background: url("../img/home-bg-yellow.png") no-repeat;
}
.logo-icon,
.dimention-icon,
.menu-icon,
.news-li-icon,
.avatar-icon {
  background: url(../img/home-sprite.png) no-repeat;
}
/* ==========================================================================
   header 样式
   ========================================================================== */
#header {
  height: 120px;
}
#header .header-main {
  position: relative;
}
#header .nav-logo {
  float: left;
}
#header .nav-logo > a {
  display: block;
  margin: 20px 0 0 0;
  width: 370px;
  height: 90px;
}
#header .nav-logo > a.logo-icon {
  background-position: 0 -234px;
}
#header .header-nav {
  float: left;
  position: absolute;
  top: 70px;
  left: 388px;
}
#header .header-nav ul li {
  float: left;
  display: block;
  width: 100px;
  height: 35px;
  background-position: -116px 0;
}
#header .header-nav ul li > a {
  display: inline-block;
  color: white;
  padding: 10px 26px;
  text-decoration: none;
}
#header .header-nav ul li > a:hover {
  color: #409BE0;
}
#header .auth {
  position: absolute;
  top: 20px;
  right: 0;
  width: 161px;
  height: 33px;
  background-position: 0 -330px;
}
#header .auth ul {
  padding-left: 44px;
}
#header .auth ul li {
  float: left;
}
#header .auth ul li > b {
  margin: 6px 3px;
  font-weight: 400;
  color: #b76954;
  line-height: 26px;
}
#header .auth ul li > a {
  display: block;
  padding: 6px 12px;
  color: #b76954;
}
#header .auth ul li > a:hover {
  color: #409BE0;
  text-decoration: none;
}
/* ==========================================================================
   主要内容 样式
   ========================================================================== */
#wrapper {
  min-height: 480px;
  margin-top: 20px;
}
#wrapper .carousel-wrap,
#wrapper .content-wrap {
  height: 450px;
}
/** 圆圈样式 */
.news-list li span {
  display: inline-block;
  float: left;
  width: 13px;
  height: 13px;
  margin: 2px 12px 0 0;
}
.bulletin-wrap {
  width: 250px;
}
.bulletin-wrap .nav-tabs > li.active > a,
.bulletin-wrap .nav-tabs > li.active > a:hover {
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
.bulletin-wrap .nav-tabs > li.active > a {
  color: #555;
  border-bottom: 3px solid #3472a1;
  cursor: default;
}
.bulletin-wrap .tab-pane > ul {
  list-style: none;
  margin: 0 0 0 15px;
  padding: 0;
}
.bulletin-wrap .tab-pane > ul li {
  margin-top: 14px;
  color: #868686;
}
.bulletin-wrap .tab-pane li span {
  background-position: -120px -50px;
}
.organ {
  width: 350px;
  margin-left: -25px;
  padding: 0;
}
.issue-pane {
  width: 270px;
}
.issue-pane .mt {
  height: 225px;
}
.issue-pane .mt-sidebar {
  width: 40px;
  padding: 0 11px;
  margin: 0 auto;
  height: 100%;
}
.issue-pane .mt-issue-bg {
  background-color: #e8e8e8;
}
.issue-pane .mt-other-bg {
  background-color: #f8e166;
}
.issue-pane .mt-sidebar > span {
  display: inline-block;
  font-size: 16px;
  padding-top: 60px;
}
.issue-pane .mt-sidebar > span.brand {
  color: #b76954;
}
.issue-pane .mt-content {
  width: 230px;
  height: 100%;
  background-color: #f8f8f8;
}
.issue-pane .mt-content li span {
  background-position: -135px -50px;
}
.issue-pane .mt-content > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.issue-pane .mt-content > ul > li {
  padding-left: 10px;
  margin-top: 10px;
  color: #98776e;
}
.other-pane {
  height: 100%;
  width: 80px;
}
.other-pane .mt {
  background-color: #7397b3;
  height: 150px;
  border-bottom: 1px solid white;
}
.other-pane .mt a {
  background: url(../img/home-sprite.png) no-repeat;
  text-decoration: none;
  display: block;
  color: white;
  padding-top: 85px;
  padding-bottom: 45px;
  text-align: center;
}
.other-pane .mt a span {
  line-height: 20px;
}
.other-pane .mt:last-child {
  margin-bottom: 0px;
}
.other-pane .mt:hover {
  background-color: #3472a1;
}
.other-pane .mt.book > a {
  background-position: -225px 0;
}
.other-pane .mt.briefcase > a {
  background-position: -305px 0;
}
.other-pane .mt.download > a {
  background-position: -385px 0;
}
/* ==========================================================================
   合作伙伴 友情链接 样式
   ========================================================================== */
.a-head > .a-text {
  float: left;
  width: 135px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 20px;
}
.a-head > .seperate-a {
  display: inline-block;
  width: 100%;
  height: 2px;
  margin-top: 16px;
  padding: 1px 0;
  background-color: #3472a1;
  border-bottom: 6px solid #f3f3f3;
}
.a-head > .seperate-b {
  display: inline-block;
  width: 705px;
  height: 1px;
  line-height: 22px;
  background-color: #ccc;
}
.a-content {
  margin-top: 8px;
  margin-left: 20px;
}
.a-content p {
  line-height: 27px;
}
.a-content a {
  float: left;
  margin: 0 10px;
  white-space: nowrap;
  color: #6C6C6C;
}
#outside {
  height: 230px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.link-wrap {
  margin-right: 150px;
}
.link-wrap .associate {
  height: 100px;
  margin-bottom: 10px;
}
.link-wrap .a-head > .a-text {
  border-left: 6px solid #3472a1;
}
/**
 * 微信微博二维码 
 */
.dimention-wrap {
  position: absolute;
  height: 100%;
  right: 15px;
  top: 0;
}
.dimention-wrap .d-item,
.dimention-wrap .d-item > a {
  display: block;
  text-indent: -9999em;
  width: 113px;
  height: 116px;
}
.dimention-wrap .d-item > a.weibo {
  background-position: 0 0;
}
.dimention-wrap .d-item > a.wechat {
  background-position: 0 -118px;
}
/* ==========================================================================
   footer 样式
   ========================================================================== */
#footer {
  border-top: 1px solid #eee;
  padding: 20px 5px 30px 5px;
}
#footer ul {
  list-style: none;
}
#footer ul li {
  padding: 0 8px;
  float: left;
}
#footer ul li > a {
  padding: 10px 3px;
}
#footer ul li + li {
  border-left: 1px solid #333;
}
/* ==========================================================================
   频道页样式
   ========================================================================== */
/**
 * 公共样式
 */
.pagination {
  float: right;
  margin-right: 10px;
}
.feed-list {
  margin-top: 20px;
}
.feed-item + .feed-item {
  border-top: 1px solid #eee;
}
.feed-item {
  padding: 10px 0;
  position: relative;
  margin-left: 0;
  outline: 0;
}
.feed-item .avatar {
  float: left;
  margin: 3px 0 0;
}
.feed-item .avatar,
.feed-item .avatar s {
  display: block;
  width: 28px;
  height: 28px;
}
.feed-item .feed-main {
  margin-left: 38px;
}
.feed-item .feed-main h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
}
.entry-body {
  margin-bottom: 0 2px 10px 2px;
  color: #666666;
  line-height: 2em;
  text-indent: 0;
}
.entry-foot {
  margin: 3px 0 10px 0;
}
.entry-foot .p-date {
  float: left;
  padding-left: 18px;
  padding-top: 2px;
  width: 105px;
  height: 20px;
  color: #666666;
  background-position: -120px -80px;
}
.entry-foot .toggle-expand {
  float: right;
  margin-right: 20px;
}
.entry-foot .toggle-expand a {
  color: #bb5625;
}
/**
 * 政策法规
 */
.channel-policy {
  margin-bottom: 40px;
}
.article {
  float: left;
  width: 720px;
}
.article .a-head > .a-text {
  border-left: 6px solid #b76954;
  color: #b76954;
}
.article .a-head > .seperate-b {
  width: 585px;
}
.article .feed-item .avatar s {
  background-position: -135px -150px;
}
.aside {
  float: right;
  background-color: #fafaec;
  width: 250px;
  height: 300px;
}
